/lib_managed
/target
/activate
test
project/build/target
project/boot
activate-core/bin
activate-core/project/build/target
activate-core/project/plugins/target
activate-core/project/boot
activate-core/target
activate-core/lib_managed
activate-prevayler/bin
activate-prevayler/project/build/target
activate-prevayler/project/plugins/target
activate-prevayler/project/boot
activate-prevayler/target
activate-prevayler/lib_managed
activate-appengine/bin
activate-appengine/project/build/target
activate-appengine/project/plugins/target
activate-appengine/project/boot
activate-appengine/target
activate-appengine/lib_managed
activate-jdbc/bin
activate-jdbc/project/build/target
activate-jdbc/project/plugins/target
activate-jdbc/project/boot
activate-jdbc/target
activate-jdbc/lib_managed
activate-cassandra/bin
activate-cassandra/project/build/target
activate-cassandra/project/plugins/target
activate-cassandra/project/boot
activate-cassandra/target
activate-cassandra/lib_managed
activate-tests/bin
activate-tests/project/build/target
activate-tests/project/plugins/target
activate-tests/project/boot
activate-tests/target
activate-tests/lib_managed